
    <%- contentFor('hero') %>
        <section class="hero">
            <div class="hero-content">
                <h2>Meet the Team</h2>
                <a href="/contact" class="btn btn-lg btn-primary">Drop us a line</a>
            </div>
        </section>

    <%- contentFor('body') %>
        <div class="jumbotron text-center">
            <h1>About Us</h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="card-body text-center">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                        <!--Title-->
                        <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                        <h5>Web developer</h5>

                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!--Facebook-->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                        <!--Title-->
                        <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                        <h5>Web developer</h5>

                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!--Facebook-->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                        <!--Title-->
                        <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                        <h5>Web developer</h5>

                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!--Facebook-->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

                    </div>

                </div>
            </div>

        </div>