
    <%- contentFor('hero') %>
        <section class="hero">
            <div class="hero-content">
                <h2>Welcome</h2>
                <a href="/" class="btn btn-primary">Get Started</a>
                <a href="/contact" class="btn btn-lg btn-primary">Contact Us</a>
            </div>
        </section>

    <%- contentFor('body') %>
        <div class="jumbotron text-center">
            <h1>Home Page Content</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet dui dui. Nunc id lectus ultrices, dictum mauris sit amet, aliquet ex. Fusce congue risus venenatis sapien ultricies finibus. Curabitur ut velit id est efficitur laoreet vel malesuada eros. Morbi et mauris lorem. Integer diam ligula, pulvinar sit amet metus et, auctor accumsan risus. Duis consequat, arcu vel mollis consectetur, nisi felis molestie nisl, ut rhoncus mi massa vel quam. Sed rutrum purus velit. Maecenas vitae tincidunt ligula, sed ultrices tortor. Nam pretium scelerisque massa, at euismod ante tincidunt non. Quisque et posuere arcu. Morbi vitae ante ex. Curabitur dignissim est id mi eleifend, vitae venenatis dolor finibus. Nunc et augue bibendum, aliquet nisi vitae, gravida dui. Pellentesque iaculis molestie ante at faucibus. Vivamus aliquam dui ut velit euismod egestas. Etiam posuere felis velit, eget ullamcorper mauris porttitor tempus. Fusce in pulvinar tortor, gravida tincidunt augue. Vestibulum ultrices lectus justo, et rhoncus nulla finibus sit amet. Sed nec dui sit amet massa elementum convallis quis id lectus. Curabitur eu bibendum ex. Donec interdum sem in lobortis congue. Nulla ut nisi mattis, egestas nulla vel, hendrerit odio. Sed viverra mi dui, a tincidunt nulla posuere eget. Ut non imperdiet urna. Aenean ultricies orci sit amet lacinia pulvinar. Suspendisse lacinia urna tortor, eget sollicitudin orci volutpat quis. Aenean suscipit turpis velit, id scelerisque augue imperdiet in. Suspendisse sapien purus, suscipit et nisi vitae, sagittis rhoncus est.</p>
        </div>

